label {
    /* border: 1px solid red; */
    display: inline-block;
    width: 100px;
    margin-right: 8px;
}

input[type="text"], input[type="number"] {
    display: inline-block;
    max-width: 250px;
    margin-bottom: 12px;
}

select {
    display: inline-block;
    max-width: 120px;
}

.mb-12 {
    margin-bottom: 12px;
}

.invalid-data {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgb(212, 35, 35);
    color: #fff;
}

small {
    font-weight: 700;
}